<!-- include head and header files -->
<%- include('../../shared-views/includes/head', {pageTitle: 'My Cart'}) %>
<link rel="stylesheet" href="/styles/cart.css">
<script src="/scripts/cart-item-manager.js" defer></script>
</head>
<body>
    <%- include('../../shared-views/includes/header') %>
    <main id="cart-section">
        <h1>My Cart</h1>
        <ul id="cart-items">
            <% for(const cartItem of locals.cart.items) { %>
                <li class="cart-item">
                    <div class="cart-item-info">
                        <img src="<%= cartItem.product.imageUrl%>" alt="<%= cartItem.imageUrl %>">
                        <h2><%= cartItem.product.title %></h2>
                        <p>Total Price: $<span class="cart-item-totalPrice"><%= cartItem.totalPrice.toFixed(2) %></span> ($<%= cartItem.product.price %> x <span class="cart-item-quantity"><%= cartItem.quantity %></span>) </p>
                    </div>
                    <form class="cart-item-manager" data-productid="<%= cartItem.product.id %>">
                        <input type="number" value="<%= cartItem.quantity %>" required>
                        <button class="btn">Update</button>
                    </form>
                </li>
            <% } %>
        </ul>
        <div id="cart-summary">
            <p>Total: $<span id="cart-total-price"><%= locals.cart.totalPrice.toFixed(2) %></span></p>
            <% if(locals.isAuth && locals.cart.totalQuantity > 0) { %>
                <form class="checkout" action="/orders" method="POST">
                    <i class="fa-brands fa-stripe"></i>
                    <button class="btn">Checkout</button>
                </form>
            <%} else {%>
                <p id="cart-checkout-login">Log in and add items to purchase</p>
            <% } %>
        </div>
    </main>
<%- include('../../shared-views/includes/footer') %>