<!-- include head and header files -->
<%- include('../../shared-views/includes/head', {pageTitle: 'My Products'}) %>
<link rel="stylesheet" href="/styles/allProducts.css">
<script src="/scripts/product-manager.js" defer></script>
</head>
<body>
    <%- include('../../shared-views/includes/header') %>
    <main>
        <h1>My Products</h1>
        <section>
            <ul id="products-grid">
                <% for (const product of products) { %>
                    <li class="product-item">
                        <img src="<%= product.imageUrl%>" alt="<%= product.title%>">
                        <h2><%= product.title %></h2>
                        <div class="admin-actions">
                            <a href="/admin/products/<%=product.id%>">View & Edit</a>
                            <button class="btn" data-productid="<%= product.id %>">Delete</button>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </section>
        <a class="add-new-product" href="products/new-product">Add New Product</a>
    </main>
<%- include('../../shared-views/includes/footer') %>