<!-- For user view of orders -->
<article class="order-item">
    <section class="order-summary">
      <h2><span class="order-item-price">$<%= order.productData.totalPrice.toFixed(2) %></span> - <%= order.formattedDate %></h2>
      <p><strong>Order Status:</strong><span class="badge"><%= order.status.toUpperCase() %></span></p>
    <!-- For admin view for orders -->
      <% if (locals.isAdmin) { %>
        <address>
          <p><a href="mailto:<%= order.userData.email %>"><%= order.userData.name %></a></p>
          <p><%= order.userData.address.street %> (<%= order.userData.address.postalCode %> <%= order.userData.address.city %>)</p>
        </address>
      <% } %>
      <!-- For user view of orders -->
      <ul>
        <% for (const item of order.productData.items) { %>
          <li><%= item.product.title %> - $<%= item.totalPrice.toFixed(2) %> ($<%= item.product.price.toFixed(2) %> x <%= item.quantity %>)</li>
        <% } %>
      </ul>
      <!-- For admin view for orders -->
      <% if (locals.isAdmin) { %>
        <section class="order-actions">
          <form>
            <input type="hidden" name="orderid" value="<%= order.id %>">
            <select name="status">
              <option value="pending" <% if (order.status === 'pending') { %>selected<% } %>>Pending</option>
              <option value="fulfilled" <% if (order.status === 'fulfilled') { %>selected<% } %>>Fulfilled</option>
              <option value="cancelled" <% if (order.status === 'cancelled') { %>selected<% } %>>Cancelled</option>
            </select>
            <button class="btn btn-alt">Update</button>
          </form>
        </section>
      <% } %>
    </section>
  </article>